<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>NewsifyApp</title>
    <!-- Add Bootstrap CDN link for styling -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/e59232f0a1.js" crossorigin="anonymous"></script>

</head>
<body class="container mt-4">

<!-- The form should submit to NewsController.create or NewsController.update,
     depending on whether we are creating or editing an entity -->
<form th:method="POST" th:action="@{ ${n != null} ? '/news/' + ${n.id} : '/news' }" class="needs-validation" novalidate>
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text"
               id="name"
               name="name"
               th:value="${n?.name}"
               class="form-control"
               required>
        <div class="invalid-feedback">Please enter a name.</div>
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <input type="text"
               id="description"
               name="description"
               th:value="${n?.description}"
               class="form-control"
               required>
        <div class="invalid-feedback">Please enter a description.</div>
    </div>
    <div class="form-group">
        <label for="price">Price</label>
        <input type="number"
               id="price"
               name="price"
               th:value="${n?.price}"
               class="form-control"
               required>
        <div class="invalid-feedback">Please enter a valid price.</div>
    </div>
    <div class="form-group">
        <label for="type">News Type</label><br/>
        <select id="type" name="type" th:value="${n?.type}" class="form-control">
            <!-- For each type you should have one <option> like below  -->
            <option th:each="type:${types}"
                    th:text="${type}"
                    th:value="${type}"
                    th:selected="${n?.type==type}"> [type.name]</option>
        </select>
    </div>
    <div class="form-group">
        <label for="category">News category</label><br/>
        <select id="category" name="category" th:value="${n?.category}" class="form-control">
            <!-- For each location you should have one <option> like below  -->
            <option th:each="category : ${categories}"
                    th:value="${category.id}"
                    th:text="${category.name}"
                    th:selected="${n?.category?.name?.equals(category)}"> [category.name]</option>
        </select>
    </div>

    <button id="submit" type="submit" class="btn btn-primary">Submit</button>
    <a id="back" href="/news" type="button" class="btn btn-secondary ml-2">Back to news</a>
</form>

<div class="mt-4">
    <ul id="nav" class="nav">
        <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
        <li class="nav-item"><a href="/login" class="nav-link">Login</a></li>
        <li class="nav-item"><a href="/logout" class="nav-link">Logout</a></li>
    </ul>
</div>
</body>
</html>